---
// import LogoXLight from "~/assets/brand/logo-light.svg"

interface Props {
  author: string
  bio?: string
  avatar?: string
  social?: {
    twitter?: string
    github?: string
    linkedin?: string
    website?: string
  }
}

// const { author, bio, avatar, social } = Astro.props
---

<div class="">
  <!-- AuthorCard -->
</div>
